body {
	background-image: url('img/pascoa.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	font-weight: bold;
}

.titulo-checkbox {
	font-size: 20px;
}

.container {
	background: hsla(0, 0%, 83%, 0.4);
}