body {
    font-family: Verdana;
}

section {
    width: auto;
}

article {
    width: 300px;
    height: 618px;
    border: 2px solid hsl(0, 0%, 0%);
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
}

article img {
    width: 300px;
    height: 445px;
    border-radius: 10px 10px 0 0;;
}

p {
    padding: 0 5px;
}

p span {
    font-weight: 900;
}

/* Animação do primeiro gênero */
section:first-of-type article.acao img {
    opacity: 0.2;
}

section:first-of-type article.acao:hover img {
    opacity: 1;
    transition: 1s;
}

/* Animação do segundo gênero */
article.animacao:hover {
    transform: scale(1.1);
    transition: 1s;
}

/* Animação do terceiro gênero */
section.aventura article.aventura:hover {
    transform: scale(0.9);
    transition: 1s;
}

/* Animação do quarto gênero */
article.biografia:hover {
    transform: rotateY(360deg);
    transition: 1s;
}