body {
    font-family: Verdana;
}

section {
    width: 100%;
}

article {
    position: relative;
    width: 300px;
    height: 618px;
    border: 2px solid hsl(0, 0%, 0%);
    border-radius: 10px;
    display: inline-block;
}

#toy-story-3 {
    top: -20px;
}

article img {
    width: 300px;
    height: 445px;
    border-radius: 10px 10px 0 0;;
}

section .acao img {
    opacity: 0.2;
}

section .acao:hover img {
    opacity: 1;
    transition: 1s;
}

article.animacao:hover {
    transform: scale(1.1);
}

p {
    padding: 0 10px 0 10px;
}

p span {
    font-weight: 900;
}