body {
    font-family: Verdana;
}

section {
    width: auto;
}

article {
    width: 300px;
    height: 618px;
    border: 2px solid hsl(0, 0%, 0%);
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
}

article img {
    width: 300px;
    height: 445px;
    border-radius: 10px 10px 0 0;;
}

p {
    padding: 0 5px;
}

p span {
    font-weight: 900;
}

/* Animação do primeiro gênero */
@keyframes fadeIn
{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

section.acao article.acao:hover img {
    animation: fadeIn 2s;
}

/* Animação do segundo gênero */
article.animacao:hover {
    transform: scale(1.1);
    transition: 1s;
}

/* Animação do terceiro gênero */
section.aventura article.aventura:hover {
    transform: scale(0.9);
    transition: 1s;
}

/* Animação do quarto gênero */
article.biografia:hover {
    transform: rotateY(360deg);
    transition: 1s;
}

/* Animação do quinto gênero */
@keyframes swingX
{
    15%
    {
        transform: translateX(5px);
    }
    30%
    {
        transform: translateX(-5px);
    }
    50%
    {
        transform: translateX(3px);
    }
    65%
    {
        transform: translateX(-3px);
    }
    80%
    {
        transform: translateX(2px);
    }
    100%
    {
        transform: translateX(0);
    }
}

section.humor article.comedia:hover {
    animation: swingX 1s ease;
    animation-iteration-count: 1;
}

/* Animação do sexto gênero */
@keyframes swingY
{
    15%
    {
        transform: translateY(5px);
    }
    30%
    {
        transform: translateY(-5px);
    }
    50%
    {
        transform: translateY(3px);
    }
    65%
    {
        transform: translateY(-3px);
    }
    80%
    {
        transform: translateY(2px);
    }
    100%
    {
        transform: translateY(0);
    }
}

section.romance article.romance:hover {
    animation: swingY 1s ease;
    animation-iteration-count: 1;
}

/* Animação do sétimo gênero */
article.superheroi:hover {
    transform: rotateZ(360deg);
    transition: 1s;
}

/* Animação do oitavo gênero */
section.suspense article.suspense:hover {
    box-shadow: 1px 1px hsl(0, 0%, 0%), 2px 2px hsl(0, 0%, 0%), 3px 3px hsl(0, 0%, 0%);
    transform: translateX(-8px);
}

/* Animação do nono gênero */
section.terror article.terror:hover {
    transform: rotateX(360deg);
    transition: 1s;
}

/* Css para o exercício da aula 3 */
/* Formatação dos botões */
.btn {
    display: inline-block;
    background-color: hsl(205, 100%, 35%);
    color: hsl(0, 0%, 100%);
    padding: 10px 19px;
    margin: 5px 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    border: 0px;
    box-shadow: 1px 1px 1px hsl(0, 0%, 60%);
    border-radius: 4px;
}

.btn:hover {
    background-image: linear-gradient(to bottom, transparent, hsla(0, 0%, 0%, 0.15));
    cursor: pointer;
}

/* Animação */
@keyframes filtro
{
    from {
        left: 0px;
    }

    to {
        left: -9999px;
    }
}

/* Para executar a animação */
body.acao article.filtrar:not(.acao),
body.amigos article.filtrar:not(.amigos),
body.amor article.filtrar:not(.amor),
body.animacao article.filtrar:not(.animacao),
body.anos90 article.filtrar:not(.anos90),
body.aventura article.filtrar:not(.aventura),
body.biografia article.filtrar:not(.biografia),
body.carro article.filtrar:not(.carro),
body.ciencia article.filtrar:not(.ciencia),
body.comedia article.filtrar:not(.comedia),
body.crime article.filtrar:not(.crime),
body.dedicacao article.filtrar:not(.dedicacao),
body.desapego article.filtrar:not(.desapego),
body.desespero article.filtrar:not(.desespero),
body.dinossauro article.filtrar:not(.dinossauro),
body.drama article.filtrar:not(.drama),
body.familia article.filtrar:not(.familia),
body.fantasia article.filtrar:not(.fantasia),
body.fantasma article.filtrar:not(.fantasma),
body.ferias article.filtrar:not(.ferias),
body.ficcao article.filtrar:not(.ficcao),
body.guerra article.filtrar:not(.guerra),
body.historia article.filtrar:not(.historia),
body.humor article.filtrar:not(.humor),
body.jogos article.filtrar:not(.jogos),
body.medo article.filtrar:not(.medo),
body.morte article.filtrar:not(.morte),
body.nerd article.filtrar:not(.nerd),
body.romance article.filtrar:not(.romance),
body.sonho article.filtrar:not(.sonho),
body.sucesso article.filtrar:not(.sucesso),
body.superacao article.filtrar:not(.superacao),
body.superheroi article.filtrar:not(.superheroi),
body.suspense article.filtrar:not(.suspense),
body.terror article.filtrar:not(.terror),
body.travessura article.filtrar:not(.travessura),
body.viagem article.filtrar:not(.viagem),
body.violencia article.filtrar:not(.violencia) {
    position: absolute;
    left: -9999px;
    animation: filtro 1s ease;
    transition: 0.5s ease-in;
}

/* Formatação da section dos botões */
#botoes {
    margin-bottom: 5px;
}